body {
  font-family: sans-serif;
  background: #0b3d91;
  color: white;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: auto;
}

button {
  padding: 10px;
  margin: 10px;
  background: #ffd700;
  border: none;
  cursor: pointer;
}

#cartas button {
  display: block;
  margin: 5px auto;
  background: #fff;
  color: #000;
}
